.rooms-thumbnails {
	display: flex;
	flex-wrap: wrap;
}

.rooms-thumbnail {
	width: 50%;
	height: 500px;
}

.rooms-thumbnails-wrapper {
	height: 550px;
}

.rooms-thumbnail img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
